<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	<script src="/libraries/barba.min.js"></script>
	<script src="/javascript/barbaWrapper.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
	  $( document ).ready(function() {
	    Barba.Pjax.start();
			Barba.Prefetch.init();
			// Be wise with the prefetching. Do not use it if you have a long list of links.
			console.log('barba started')
	  });

		const transitionToPromise = (el, property, value) =>
		  new Promise(resolve => {
		    el.style[property] = value;
		    const transitionEnded = e => {
		      if (e.propertyName !== property) return;
		      el.removeEventListener('transitionend', transitionEnded);
		      resolve();
		    }
		    el.addEventListener('transitionend', transitionEnded);
		  });

		var FadeTransition = Barba.BaseTransition.extend({
		  start: function() {
		    Promise
		      .all([this.newContainerLoading.then(function() {
						$(this.newContainer).css('display', 'none');
						}.bind(this)), this.fadeOut()]) // wait for fade out and load of new page
		      .then(this.fadeIn.bind(this)); // fade in page
		  },

		  fadeOut: function() {
				$(this.oldContainer).css('opacity', '1');
				$(this.oldContainer).css('transition', 'opacity 0.3s ease-in');
		    return transitionToPromise(this.oldContainer, 'opacity', '0');
		  },

		  fadeIn: function() {
		    /**
		     * this.newContainer is the HTMLElement of the new Container
		     * At this stage newContainer is on the DOM (inside our #barba-container and with visibility: hidden)
		     * Please note, newContainer is available just after newContainerLoading is resolved!
		     */

		    var _this = this;
		    var $el = $(this.newContainer);

		    $(this.oldContainer).hide();
				$(this.newContainer).css('display', '');
				//$(this.newContainer).show();

		    $el.css({
		      visibility : 'visible',
		      opacity : 1
		    });

				$(this.newContainer).css('transform', 'translate(100vh)');
				setTimeout(function(){

					$(this.newContainer).css('transition', 'transform 0.4s ease-out');

					transitionToPromise(this.newContainer, 'transform', 'translate(0vh)').then(function(){
						console.log('done animation')
						_this.done()
					})

				}.bind(this), 10)

		    /* $el.animate({ opacity: 1 }, 400, function() {
		      _this.done();
		    }); */
		  }
		});

		/**
		 * Next step, you have to tell Barba to use the new Transition
		 */

		Barba.Pjax.getTransition = function() {
		  /**
		   * Here you can use your own logic!
		   * For example you can use different Transition based on the current page or link...
		   */

		  return FadeTransition;
		};

		Barba.Dispatcher.on('newPageReady', function(currentStatus, oldStatus, container) {
			if(window.barbaTriggerExit){
				window.barbaTriggerExit();
			}
			window.barbaStarted = true;
			window.barbaExit = new Promise(function(resolve, reject){
				window.barbaTriggerExit = resolve;
			})
			console.log('page changed')
			container.querySelectorAll("script").forEach(function(js){
				console.log(js)
				var parent = js.parentNode;
				parent.removeChild(js);
				var newScript = document.createElement("script");
				newScript.src = js.src;
				newScript.text = js.text;
				newScript.async = false;
				parent.appendChild(newScript);
			})
		});
	</script>
	<div id="barba-wrapper">
	  <div class="barba-container">
			{% include header.html %}
			<main>
				<article>
					{{ content }}
				</article>
				{% include footer.html %}
			</main>

			<!-- Custom JavaScript files set in YAML front matter -->
			{% for js in page.custombodyjs %}
			<script type="{{ js.type | default: "text/javascript" }}" src="{{ js.src | default: js }}"></script>
			{% endfor %}
	  </div>
	</div>
</body>

</html>
